* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

html {
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background:linear-gradient(180deg, rgb(0, 0, 0) 88%, rgb(155, 0, 0) 100%);
    padding: 10px;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
}
header img {
    width: 120px;
    height: 120px;
    background-color: #ffffff6e;
    border-radius: 50px;
}
header h1 {
    font-size: 70px;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0px auto;
    color: rgb(242, 255, 0);
}
header div ul{
    display: flex;
}
header div ul li a {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
header div ul li a:hover {
    transition: 0.8s;
    color: yellow;
}


/*-------------------------------------------------------sessão-01-------------------------------------------------------------*/

.sessao-1 {
    width: 100%;
    padding: 250px;
    background: linear-gradient(180deg, #00000065 8.33%, #25252588 100%), url(IMAGENS/seja\ bem\ vindo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: yellow;
    margin-bottom: 20px;
}
.paragrafo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 800;
    color: white;
}



/*-------------------------------------------------------sessão-02-------------------------------------------------------------*/

.sessao-2 {
    width: 100%;
    padding: 200px;
    background:linear-gradient(180deg, #000000 88.33%, #464646d0 100%);
}
.sabor {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: aliceblue;
}

.div {
    box-shadow:  6px 5px 20px rgb(255, 255, 255);
}

.mobile {
    display: flex;
    flex-wrap: wrap;
}

.doce a {
    transition: 0.6s;
    color: rgb(255, 0, 0);
}
.doce a:hover{
    transition: 0.6s;
    font-size: 50px;
}
.doces {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.doces div {
    margin-top: 80px;
    gap: 80px;
    width: 250px;
    height: 300px;
    border-radius: 30px;
    transition: 0.6s;
}


.doces .div-filho1 {
    background-image: url(IMAGENS/pizza\ de\ morango.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.doces .div-filho1:hover {
    transition: 0.6s;
    background-image: url(IMAGENS/morango\ hover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.doces .div-filho2 {
    background-image: url(IMAGENS/pizza\ de\ sorvete.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.doces .div-filho2:hover {
    transition: 0.6s;
    background-image: url(IMAGENS/pizza\ de\ sorvete\ hover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.doces .div-filho3 {
    background-image: url(IMAGENS/pizza\ de\ chocolate.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.doces .div-filho3:hover {
    transition: 0.6s;
    background-image: url(IMAGENS/pizza\ de\ chocolate\ h.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.salgado a {
    transition: 0.8s;
    color: #ffee00;
}
.salgado a:hover{
    transition: 0.8s;
    font-size: 50px;
    color: #ffee00;
}
.salgados {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.salgados div {
    margin-top: 80px;
    gap: 80px;
    width: 250px;
    height: 300px;
    border-radius: 30px;
    transition: 0.6s;
}
.salgados div {
    margin-top: 80px;
}

.salgados .div-filho4 {
    background-image: url(IMAGENS/pizza\ de\ frango.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.salgados .div-filho4:hover {
    transition: 0.6s;
    width: 250px;
    height: 300px;
    border-radius: 30px;
    background-image: url(IMAGENS/pizza\ de\ frango\ hover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.salgados .div-filho5 {
    background-image: url(IMAGENS/pizza\ de\ calabresa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.salgados .div-filho5:hover {
    transition: 0.6s;
    width: 250px;
    height: 300px;
    border-radius: 30px;
    background-image: url(IMAGENS/pizza\ de\ calabresa\ hover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.salgados .div-filho6 {
    background-image: url(IMAGENS/pizza\ de\ queijo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.salgados .div-filho6:hover {
    transition: 0.6s;
    width: 250px;
    height: 300px;
    border-radius: 30px;
    background-image: url(IMAGENS/pizza\ de\ queijo\ hover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/*-------------------------------------------------------sessão-05-------------------------------------------------------------*/

.sessao-5 {
    width: 100%;
    padding: 250px;
    background-color: #f2502c; /*Temporario*/
    background-image: url(IMAGENS/pizzaria\ pedido.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sessao-5 button {
    width: 200px;
    height: 50px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.438);
    border-color: rgb(255, 255, 255);
    color: #fcfcfc;
    font-size: 15px;
    font-weight: 600;
    transition: 0.7s;
}
.sessao-5 button:hover {
    transition: 0.7s;
    border-radius: 30px;
    background-color: #000000;
    border-color: rgb(255, 0, 0);
    width: 225px;
    cursor: pointer;
}



/*-------------------------------------------------------sessão-06-------------------------------------------------------------*/

.sessao-6 {
    width: 100%;
    padding: 200px;
    background:linear-gradient(360deg, #000000 88.33%, #464646d0 100%);
}
.sessao-6 .div-pai-mapa {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.sessao-6 .div-pai-mapa div h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fffb00;
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
}
.sessao-6 .div-pai-mapa div p {
    text-align: center;
    color: #fcfcfc;
    font-size: 18px;
    font-weight: 500;
}


/*-------------------------------------------------------RODAPÉ-------------------------------------------------------------*/

footer{
    padding: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

footer img {
    border-radius: 50px;
    background-color: #ffffff6e;
    width: 120px;
    height: 120px;
}

.inform ul li a {
    list-style: none;
    color: yellow;
}

.redes {
    text-align: center;
}
.sociais ul {
    display: flex;
    gap: 60px;
    margin: 20px 0px;
} 

.sociais a {
    list-style: none;
}
.sociais ul li i {
    font-size: 35px;
    color: #fcfcfc;
}

footer h4 {
    font-size: 20px;
}
.facebook i:hover{
    transition: 0.6s;
    color: blue;
}
.instagram i:hover{
    transition: 0.6s;
    color: rgb(200, 49, 255);
}
.whatsapp i:hover{
    transition: 0.6s;
    color: green;
}


/*-------------------------------------------------------MOBILE-------------------------------------------------------------*/
@media (max-width:834px) {
    /* ==================================================CABEÇALHO======================================================== */
    header {
        display: flex;
        flex-direction: column;
    }
    header img {
        width: 3rem;
        height: 3rem;
    }
    header h1 {
        font-size: 30px;
    }
    header ul li{
        display: none;
    }

    /* ==================================================SESSÃO1-MOBILE======================================================== */
    .sessao-1 {
        display: flex;
        flex-direction: column;
        padding: 68px;
    }
    .titulo {
        font-size: 16px;
        text-align: center;
    }
    .paragrafo {
        font-size: 14px;
    }

    /* ==================================================SESSÃO2-MOBILE======================================================== */
    .sessao-2{
        padding: 60px;
        display: flex;
        flex-direction: column;
    }
    .sessao-2 h3 {
        font-size: 30px;
    }
    .doce a:hover{
        transition: 0.6s;
        font-size: 45px;
    }
    .salgado a:hover{
        transition: 0.6s;
        font-size: 45px;
    }

    /* ==================================================SESSÃO5-MOBILE======================================================== */
    .sessao-5 {
        display: flex;
        flex-direction: column;
        padding: 200px;
    }
    .sessao-5 button {
        width: 160px;
        height: 50px;
    }
    .sessao-5 button:hover {
        width: 160px;
        height: 50px;
    }

    /* ==================================================SESSÃO6-MOBILE======================================================== */
    .sessao-6 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 150px;
    }
    .sessao-6 iframe {
        width: 350px;
        height: 300px;
    }
    .sessao-6 .div-pai-mapa div h2 {
        font-size: 25px;
        text-align: center;
    }
    .sessao-6 .div-pai-mapa div p {
        margin-top: 30px;
        font-size: 16px;
        text-align: center;
    }

    /* ==================================================RODAPE-MOBILE======================================================== */
    footer {
        padding: 30px;
        gap: 30px;
    }
    footer img {
        width: 3rem;
        height: 3rem;
    }
    footer .inform ul li a {
        font-size: 10px;
    }
    .redes {
        text-align: center;
    }
    .sociais ul {
        display: flex;
        gap: 30px;
        margin: 10px 0px;
    } 
    
    .sociais a {
        list-style: none;
    }
    .sociais ul li i {
        font-size: 20px;
        color: #fcfcfc;
    }
    
    footer h4 {
        font-size: 10px;
    }
    
}